.timeline {
  margin-left: 1rem;
  padding-left: 2rem;
  border-left: 2px solid #dee2e6; /* Bootstrap $gray-300 */
}

.timeline-item {
  position: relative;
  left: 10px;
  margin-bottom: 5rem; /* Gap between timeline items */

  &:last-child {
    margin-bottom: 0; /* No margin for the last item */
  }

  h5 {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0.25rem;
      left: calc(-2rem - 6px); /* Align perfectly with vertical line */
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #fff;
      border: 3px solid $primary;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0.625rem; /* Center with the circle */
      left: calc(-2rem + 8px); /* From the circle */
      width: calc(2rem - 10px); /* To the content, leaving a healthy right margin */
      height: 2px;
      background-color: #dee2e6;
      z-index: 0;
    }
  }
}
